{% extends 'bootstrap/base.html'%} {% block content %}

<div class="container">
  <form action="{{ url_for('index') }}" method="POST">
    <div class="form-group">
      <label>Loan amount</label>
      <input type="text" name="loanamount" id="" class="form-control mb-4" />
      <label>funded</label>
      <input type="text" name="funded" id="" class="form-control mb-4" />
      <label>installment</label>
      <input type="text" name="installment" id="" class="form-control mb-4" />
      <label>interest rate</label>
      <input type="text" name="interest" id="" class="form-control mb-4" />
      <label>term</label>
      <input type="text" name="term" id="" class="form-control mb-4" />
      <label>employment length</label>
      <input type="text" name="employment" id="" class="form-control mb-4" />
      <label>annual income</label>
      <input type="text" name="income" id="" class="form-control mb-4" />

      <label>home ownership</label>
      <input type="text" name="home" id="" class="form-control mb-4" />
      <label>purpose</label>
      <input type="text" name="purpose" id="" class="form-control mb-4" />

      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  </form>
</div>

{% endblock%}
